/* Made with love by Mutiullah Samim*/

html,
body {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 25px !important;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.error {
    background-color: aqua;
    color: red;
}